*{
    box-sizing: border-box;
}

input[name=fname],input[name=lname],select[name=semester],select[name=division],input[name=email],input[name=clg_name]
{
    width: 100%;
    padding: 10px;
    border-width: 3px;
    border-color: black;
}

input[type=checkbox],input[type=radio]
{
    height: 20px;
    width: 20px;
}

input[type=tel]
{
    width:80%;
    padding: 10px;
    border-width: 3px;
    border-color: black;
}

input[name=code]
{
    padding: 10px;
    border-width: 3px;
    border-color: black;
}

button[type=submit]
{
    width: 20%;
    padding: 10px;
    background-color: green;
    color: white;
}

hr{
    border-width: 4px;
}
